.outer_error_container {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.1875;
  font-weight: 700;
  font-style: oblique;
  width: 100%;
}
.replay--error{

  border: 4px solid rgb(43, 36, 36);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin-top: 30px;
}
.error_image{
  width: 200px;
  height: 200px;
}