.leaflet__map{
  width:100%;
  -ms-flex-item-align:stretch;
  align-self:stretch;
  background-size:682px auto;
  background-repeat:no-repeat;
  background-position:-170px center
}

@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx){
  .leaflet__map{
    background-size:682px 794px
  }
}

@media (min-height:980px){
  .leaflet__map{
    background-size:cover
  }
}
