.leaflet_offer__map{
  width:100%;
  height:579px;
  margin-bottom:50px;
  background-repeat:no-repeat;
  background-size:1144px auto;
  background-position:center top
}

@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx){
  .leaflet_offer__map{
    background-size:1144px auto
  }
}
